/* root */
@import "./utilities.css";

:root {
  --yellow: #ffc500;
  --orange: #ffa200;
  --headings: #363636;
  --sub-headings: #3f3f3f;
  --text: #5d5d6e;
  --navyblue: #0537ac;
  --bg-offset-blue: #f9fcff;
  --light-blue: #4aa0fc;
  font-family: GraphikRegular, sans-serif;
  line-height: 1.25;
}
/* fonts */
@font-face {
  font-family: GraphikBold;
  src: url("./assets/fonts/GraphikBold.otf");
  font-weight: 700;
}
@font-face {
  font-family: GraphikSemiBold;
  src: url("./assets/fonts/GraphikSemibold.otf");
  font-weight: 600;
}
@font-face {
  font-family: GraphikRegular;
  src: url("./assets/fonts/GraphikRegular.otf");
  font-weight: 400;
}
@font-face {
  font-family: GraphikMedium;
  src: url("./assets/fonts/GraphikMedium.otf");
  font-weight: 500;
}
body {
  margin: 0;
}
a {
  font-weight: 500;
  color: var(--headings);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
a:active {
  color: #646cff;
}

button {
  border-radius: 8px;
}
h1,
h2,
h3,
h4 {
  color: var(--headings);
  font-family: GraphikBold, sans-serif;
}
p {
  line-height: 1.75;
  font-size: larger;
  color: var(--text);
}
/* custom */
.highlight {
  color: var(--light-blue);
}
.cta__btn {
  color: white;
  border: none;
  background-color: var(--orange);
  padding: 1rem 1.5rem;
}
.white {
  color: white;
}
.bg-white {
  background-color: white;
}
.gray {
  color: var(--text);
}
/* nav */
nav {
  font-family: GraphikSemiBold, sans-serif;
  background-color: white;
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1;
  padding-left: 5rem;
}

nav a {
  margin-left: 1rem;
}
nav button {
  padding: 0.75rem 1.2rem;
  border: none;
  background-color: var(--navyblue);
  font-family: GraphikSemiBold, sans-serif;
  color: white;
}

/* home */
.home {
  background-color: var(--bg-offset-blue);
  height: 100vh;
  position: relative;
}

.home__cta {
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
  column-gap: 2.5rem;
  max-width: 50%;
}
.home__btn {
  font-family: GraphikMedium, sans-serif;
  margin-right: 2rem;
  padding: 1rem 1.5rem;
}
.home__contact__btn {
  border-color: var(--orange);
  background-color: white;
  color: var(--orange);
}

.home__img {
  position: relative;
  width: 100%;
  background-image: url(./assets/images/svg-path.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 82%;
  background-position-y: center;
}

.home__btmleft__svg {
  width: 8vh;
  scale: 2;
  position: relative;
  left: -4rem;
  top: 4rem;
}
.home__right__svg {
  height: 100%;
  position: absolute;
  right: 0;
}

#img1 {
  position: absolute;
  top: 10rem;
}
#img2 {
  position: absolute;
  top: 4rem;
  left: 10rem;
}
#img3 {
  position: absolute;
  top: 18rem;
}
#img4 {
  position: absolute;
  top: 10rem;
  left: 20rem;
}
/* features */
.features {
  margin-top: 5rem;
  position: relative;
}
.features__info {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.features__img {
  /* position: absolute;
  right: -8rem; */
}
.features__img--shadow {
  box-shadow: 0 0 0 35px rgb(232, 232, 232);
}
.features__stats {
  padding-top: 0;
  position: relative;
  background-color: white;
  padding: 1rem 3rem;
  border-radius: 9px;
  margin-right: 0 auto;
  margin-right: 19%;
  box-shadow: 1px 1px 9px 0px rgba(28, 28, 28, 0.56);
}
/* industry */
.industry {
  background-color: #fdfbf9;
}
.industry__card {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 14px #00000021;
  border-radius: 21px;
  opacity: 1;
  position: relative;
  padding-bottom: 3rem;
}
.industry__img {
  position: relative;
  right: -8rem;
}
.industry__circle {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 40%;
  top: -2.6rem;
  background-color: var(--orange);
  color: white;
  font-family: GraphikMedium, sans-serif;
}
.card {
  max-width: 23%;
}
.card__md {
  max-width: 27%;
}
/* about */
.about {
  background-color: var(--light-blue);
  color: white;
}
/* investor */
.investor {
  background-color: #f8f8f8;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
/* achivemnets */
.achivements {
}

.achivements img {
  border-radius: 8px;
  box-shadow: 0px 0px 14px #00000021;
}
.div1 {
  grid-area: 1 / 1 / 4 / 4;
}
.div2 {
  grid-area: 4 / 1 / 5 / 4;
}
.div3 {
  grid-area: 1 / 4 / 5 / 5;
}

/* contact */
.contact {
  background-color: #003152;
  color: white;
}

/* media query */
@media (max-width: 900px) {
  nav {
    padding-left: 0;
    justify-content: space-between;
  }
  .home,
  .features,
  .achivements,
  .contact {
    padding-left: 2rem;
  }
  .home {
    height: 65rem;
  }
  .routes,
  .div3 {
    display: none;
  }
  .home {
    flex-direction: column;
  }
  .home__cta {
    max-width: 100%;
  }
  .home__btmleft__svg {
    width: 8vh;
    scale: 1.25;
    position: relative;
    left: -3rem;
    top: 1rem;
  }
  #img1 {
    position: relative;
    top: 4rem;
  }
  #img3 {
    position: relative;
    width: 35vw;
    height: 35vw;
    left: 0.5rem;
  }
  #img4 {
    position: relative;
    left: 1rem;
    top: 10rem;
  }
  .info {
    flex-direction: column;
  }
  .features__info {
    width: 100%;
  }
  .features__img {
    width: 16rem;
    height: 16rem;
    margin-top: 2rem;
  }
  .features__stats {
    scale: 0.5;
    position: relative;
    left: 12rem;
    bottom: 3rem;
  }
  .div1 img {
    width: 80vw;
    height: 50vw;
  }
  .div1__info {
    width: 85vw;
  }
  achivements div {
    padding-left: 0;
  }
  .div1 {
    grid-area: 1 / 1 / 1 / 1;
  }
  .div3,
  .div2 {
    display: none;
  }
  .hidden {
    display: none;
  }
  .contact__info--sm {
    flex-direction: column;
  }
  .contact___col1--sm {
    width: 100%;
  }
  .features__img--shadow {
    width: 16rem;
    height: 16rem;
    margin-left: 1rem;
  }
  .flex-col--sm {
    flex-direction: column;
  }
  .card,
  .card__md {
    max-width: 80%;
    margin: auto;
    margin-bottom: 2rem;
  }
  .w-60--sm {
    width: 60%;
  }
  .w-80--sm {
    width: 80%;
  }
  .w-auto--sm {
    width: auto;
  }
  .flex-wrap--sm {
    flex-wrap: wrap;
  }
}
